{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/todologo.png' %}" alt="">
                <h2> ToDo</h2>
            </div>
            <div class="navitems">
                <h2>Home</h2>
                <h2>Features</h2>
               <a href="{% url 'taskpage' %}"><h2>Task</h2></a>
                <h2>About</h2>
            </div>
            <div class="btns">
                <button id="b1" type="submit" onclick="login()" >Login</button>
                <button id="b1" type="submit" onclick="register()" >Signup</button>
            </div>

        </div>
        <div class="leftcard">
        
        <div class="card-contentss">
            <div class="firstcontent">
            <h3>Integration Tools</h3>
            <h3>Avg Response Time:</h3>
            <div class="fast-num">
                 <h3>365</h3>
            <button id="fastbtn">fast</button>
            </div>
            <div class="speedo">
                <ion-icon name="speedometer-outline"></ion-icon>
            </div>
           
            </div>
             <div class="secondcontent">
            <h3>1,273</h3>
            <h3>Total Customers</h3>
            </div>
            <div class="thridcontent">
            <h3>828</h3>
            <h3>Active Customers</h3>
            </div>
            <div class="fourthcontent">
            <h3>$10,928</h3>
            <h3>Revenue</h3>
            </div>
             <div class="fivecontent">
            <h3>$2,912</h3>
            <h3>Expense</h3>
            </div>
        </div>
</div>
<div class="rightsection">
  <div class="connect">
    <h3>Connecting People</h3>
  </div>
  <div class="mainhead">
    <h1>Turn To Dos 
        <ion-icon name="radio-outline"></ion-icon><br>
         into Done with<br>
        <ion-icon name="checkmark-done-outline"></ion-icon>
        ToDo </h1>
    <p>Imagine a day where tasks are clear, deadlines are met, and <br>
        your to-do list works for you, not against you.</p>
    <div class="btnss">
      <button id="start-btn">Start for Free →</button>
      <button id="learn-btn">Learn More →</button>
    </div>
  </div>
</div>
<div class="project-sec">
    <h3>Project Progress</h3>
</div>
<div class="feature-head">
    <h1>Tools That Work For You</h1>
    <h2>Not Against You</h2>
    <h3>Taskly Make Managing Tasks Feel Effortless And Intuitive</h3> 
</div>
<div class="row-one">
<div class="feature-card">
    <div class="circle">
        <ion-icon name="analytics-outline"></ion-icon>
    </div>
    <div class="feature-content">
        <h3>Organize</h3>
        <h4>Arrange tasks by priority and<br>
             deadlines</h4>
             <h5>Explore Now →</h5>
    </div>

</div>
<div class="feature-card">
    <div class="circle">
       <ion-icon name="timer-outline"></ion-icon>
    </div>
    <div class="feature-content">
        <h3>collaborate</h3>
        <h4>Work Together effortlessly in real<br>
             time</h4>
             <h5>Explore Now →</h5>
    </div>

</div>
<div class="feature-card">
    <div class="circle">
        <ion-icon name="analytics-outline"></ion-icon>
    </div>
    <div class="feature-content">
        <h3>Organize</h3>
        <h4>Arrange tasks by priority and<br>
             deadlines</h4>
             <h5>Explore Now →</h5>
    </div>

</div>
<div class="feature-card">
    <div class="circle">
        <ion-icon name="analytics-outline"></ion-icon>
    </div>
    <div class="feature-content">
        <h3>Organize</h3>
        <h4>Arrange tasks by priority and<br>
             deadlines</h4>
             <h5>Explore Now →</h5>
    </div>

</div>
<div class="feature-card">
    <div class="circle">
        <ion-icon name="analytics-outline"></ion-icon>
    </div>
    <div class="feature-content">
        <h3>Organize</h3>
        <h4>Arrange tasks by priority and<br>
             deadlines</h4>
             <h5>Explore Now →</h5>
    </div>

</div>
<div class="feature-card">
    <div class="circle">
        <ion-icon name="analytics-outline"></ion-icon>
    </div>
    <div class="feature-content">
        <h3>Organize</h3>
        <h4>Arrange tasks by priority and<br>
             deadlines</h4>
             <h5>Explore Now →</h5>
    </div>

</div>
<div class="feature-card">
    <div class="circle">
        <ion-icon name="analytics-outline"></ion-icon>
    </div>
    <div class="feature-content">
        <h3>Organize</h3>
        <h4>Arrange tasks by priority and<br>
             deadlines</h4>
             <h5>Explore Now →</h5>
    </div>

</div>
<div class="feature-card">
    <div class="circle">
        <ion-icon name="analytics-outline"></ion-icon>
    </div>
    <div class="feature-content">
        <h3>Organize</h3>
        <h4>Arrange tasks by priority and<br>
             deadlines</h4>
             <h5>Explore Now →</h5>
    </div>

</div>

</div>
    </div>
    
    

     <div class="pagelogin" id="log">
            <div class="login-card">
                 <div class="card-content">
                    <h3>Log in</h3>
                    <h2 id="cls" onclick="closing()">x</h2>
                    <input type="text" id="logname"   placeholder="Username">
                    <input type="password" id="logpass"  placeholder="password">
                    <button  type="submit"id="bt" onclick="log()">submit</button>
                </div>
            </div>
            </div>
            <div class="pagereg" id="signup">
            <div class="reg-card">
                <div class="reg-content">
                    <div class="head-clos">
                    <h3>Signup</h3>
                    <h2 id="clos" onclick="rem()">x</h2>
                    </div>
                    <form action="">
                    <input type="file"  id="pic" name="profilepic"> 
                     <input type="text"  id="firstname" name="firstname"  placeholder="firstname">
                     <input type="text"  id="lasttname" name="lasttname"  placeholder="lastname">
                     <input type="email"  id="mail" name="email"  placeholder="email">
                     <input type="tel"  id="num" name="phone"  placeholder="phone_no" maxlength="10" minlength="10">
                    <input type="text"  id="use" placeholder="Username">
                    <input type="password" id="pass" placeholder="password">
                    
                    <button  type="submit"id="bt" onclick="reg()">submit</button>
                    </form>
                </div>
            </div>
        </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
   <script src="{% static 'js/home.js' %}"></script> 
</body>
</html>