{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
</head>
<body>
    <div class="container">
         <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/todologo.png' %}" alt="">
                <h2> ToDo</h2>
            </div>
            <div class="navitems">
                <h2>Home</h2>
                <h2>Features</h2>
                <h2>Task</h2>
                <h2>About</h2>
            </div>
            <div class="btns">
                <button id="b1" type="submit" onclick="login()" >Logout</button>
            </div>

        </div>
        <div class="todo-head">
            <h2>Hai , Welcome</h2>
        </div>
        <form action="" method="post" class="taskform">
            <input type="text" id="task" name="taskname" placeholder="Enter Your task">
            <input type="date" id="taskdate" name="taskdate">
            <button id="add" type="submit">Add Task</button>

        </form>
        <table>
            <thead>
                <tr>
                    <th>Sl No</th>
                    <th>Name</th>
                    <th>Tasks</th>
                    <th>Date</th>
                    <th>Actions</th>
                    

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="actions">
                       <button type="submit" id="check"><ion-icon name="checkbox-outline"></ion-icon></button> 
                       <button type="submit" id="close"><ion-icon name="close-outline"></ion-icon></ion-icon></button> 
                       <a href="{% url 'todoedit' %}"><button type="submit" id="edit"><ion-icon name="create-outline"></ion-icon></button></a> 
                       <button type="submit" id="dele"><ion-icon name="trash-outline"></ion-icon></button> 
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>