{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
</head>
<body>
    <div class="container">
         <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/todologo.png' %}" alt="">
                <h2> ToDo</h2>
            </div>
            <div class="navitems">
                <h2>Home</h2>
                <h2>Features</h2>
                <h2>Task</h2>
                <h2>About</h2>
            </div>
            <div class="btns">
                <button id="b1" type="submit" onclick="login()" >Logout</button>
            </div>

        </div>
        <div class="todo-head">
            <h2>Hai , Welcome</h2>
        </div>
        <form action="{% url 'addtodo' %}" method="post" class="taskform">{% csrf_token %}
            <input type="text" id="task" name="title" placeholder="Enter Your task">
            <input type="date" id="taskdate" name="deadline" >
            <button id="add" type="submit">Add Task</button>

        </form>
        <table>
            <thead>
                <tr>
                    <th>Sl No</th>
                    <th>Date</th>
                    <th>Tasks</th>
                    <th>Deadline</th>
                    <th>Actions</th>
                    

                </tr>
            </thead>
            <tbody>
                {% for i in content %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    {% if i.complete %}
                    <td style="text-decoration:line-through;">{{i.Date}}</td>
                    <td style="text-decoration:line-through;">{{i.title}}</td>
                    <td style="text-decoration:line-through;">{{i.deadline}}</td>

                    {% else %}
                    <td>{{i.Date}}</td>
                    <td>{{i.title}}</td>
                    <td>{{i.deadline}}</td>
                    {% endif %}
                    <!-- <h4></h4> -->
                    <!-- <h4></h4> -->
                    <td class="actions">
                        <a href="{% url 'todocomplete' pk=i.pk %}"><button type="submit" id="check" ><ion-icon name="checkbox-outline"></ion-icon></button></a> 
                     <a href="{% url 'todoclose' pk=i.pk %}"><button type="submit" id="close"><ion-icon name="close-outline"></ion-icon></ion-icon></button></a>  
                       <a href="{% url 'taskedit' pk=i.pk %}"><button type="submit" id="edit"><ion-icon name="create-outline"></ion-icon></button></a> 
                         <a href="{% url 'taskdelete' pk=i.pk %}"><button type="submit" id="dele"><ion-icon name="trash-outline"></ion-icon></button></a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  
</body>
</html>