{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
</head>
<body>
    <div class="container">
         <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/todologo.png' %}" alt="">
                <h2> ToDo</h2>
            </div>
            <div class="navitems">
                <h2>Home</h2>
                <h2>Features</h2>
                <h2>Task</h2>
                <h2>About</h2>
            </div>
            <div class="btns">
                <button id="b1" type="submit" onclick="login()" >Logout</button>
            </div>

        </div>
        <div class="editbackground">
             <form action="{% url 'taskedit' pk=content.pk %}" method="post" class="taskeditform">{% csrf_token %}
                <h3>Edit Your Task</h3>
            <input type="text" id="task" name="title" placeholder="Enter Your task"  value="{{content.title}}">
            <input type="date" id="taskdate" name="deadline"  value="{{content.deadline|date:'Y-m-d'}}">
            <button id="add" type="submit">update</button>

        </form>
        </div>
    </div>
</body>
</html>