*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: f8f9ff;
    color: #1a1a1a;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    height: 50px;
}
.logo{
    width: 50px;
    height: 50px;
    padding: 10px,20px;
    display: flex;
    align-items: center;
    /* margin-left: ; */
    img{
        width: 150px;
        height: 70px;
    }
}
.navitems{
    display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
   
   h2{
    font-size: 18px;
   }

}
 #b1{
    padding: 6px 14px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  color:black;
  font-weight: bold;
  cursor: pointer;
    }
    .leftcard{
        background-color: #fff;
        padding: 20px;
        border-radius: 16px;
        box-shadow:0 4px 20px rgba(0,0,0,0.05) ;
        max-width: 400px;
        margin: 20px auto;
        /* margin-right: 70%; */
        margin-left: 15%;
        margin-top: 5%;
        h3{
            margin-bottom: 10px;
        }
    }
   .card-contentss{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    gap: 10px;
    margin-top: 10px;
    }
    .firstcontent{
        background-color: #f1f5ff;
        padding: 10px;
        border-radius: 8px;
        height: 110px;
     
    }
    .secondcontent{
        background-color: black;
        color: white;
        border-radius: 8px;
        margin-left: 20%;
        width: 50%;
        position: relative;
         h3{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    

      }
    }
    .thridcontent{
        background-color:  #f1f5ff;
        color: black;
        border-radius:8px;
        width: 70%;
        margin-left: 30%;
          h3{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    

      }
    }
    .fourthcontent{
        background-color:  #f1f5ff;
        color: black;
        border-radius:8px;
        width: 50%;
        margin-left: 20%;
          h3{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    

      }
    }
    .fivecontent{
         background-color:  #f1f5ff;
        color: black;
        border-radius:8px;
        width: 70%;
        margin-left: 30%;
          h3{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    

      }
    }
   #fastbtn{
       padding:1px 25px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: lightgreen;
  border: none;
  outline: none;
  color:black;
  font-weight: bold;
  cursor: pointer;
   } 
   .fast-num{
    display: flex;
    gap: 10px;
   }
   .speedo{
    margin-left: 60%;
  margin-top: -95px;
    ion-icon{
        color: rgb(134, 24, 134);
        font-size: 130px;
    }
   }
   .pagelogin{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    backdrop-filter:blur(5px);
    width: 100%;
    height: 130%;
}
.login-card{
    display: flex;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-color: rgba(244, 236, 236, 0.84);
    position: relative;
    animation: popup 0.3s ease-in-out;
    }
    #cls{
        position: absolute;
        top: 10px;
        right: 10px;
    }
.card-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    width: 100%;
    h3{
        margin-left: 40%;
        color: gray;
        margin-bottom: 25px;
    }
    h2{
        color: gray;
        cursor: pointer;
        margin-left: 90%;
     
      
    }
    input{
        padding: 12px 15px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        background: white;
        box-shadow: inset 0 2px 4px rgb(0,0,0 0.05);
       
    }
}
.card-contentinput{
    padding: 12px 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: rgb(180, 175, 175);
    box-shadow: inset 0 2px 4px rgb(0,0,0 0.05);
}
#bt{
padding: 6px 7px;
color: white;
background-color:  purple;
outline: none;
border: none;
width: 100%;
}
.pagereg{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    backdrop-filter:blur(5px);
    width: 100%;
    height: 120%;
}
.reg-card{
    display: flex;
    width: 400px;
    height: 560px;
    border-radius: 20px;
    background-color: rgba(244, 236, 236, 0.84);
    position: relative;
     animation: popup 0.3s ease-in-out;
    }
    #clos{
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
    #bt{
 
    }
.reg-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    width: 100%;
    h3{
  
        color: gray;
        margin-bottom: 25px;
    }
    h2{
        color: gray;
        cursor: pointer;
        margin-left: 90%;
     
      
    }
    input{
        padding: 12px 15px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        background: white;
        box-shadow: inset 0 2px 4px rgb(0,0,0 0.05);
        margin-bottom: 3%;
        width: 90%;
    }
}
.reg-contentinput{
    padding: 12px 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: rgb(180, 175, 175);
    box-shadow: inset 0 2px 4px rgb(0,0,0 0.05);
}
.head-clos{
    display: flex;
    
}
.rightsection{
    margin-left: 55%;
    margin-top: -30%;
}
.connect{
   padding: 6px 14px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
  color:black;
  font-weight: bold;
  cursor: pointer;  
  width: 25%; 
  h3{
    display: flex;
    
  }
}
.mainhead{
    margin-top: 2%;
    h1{
        font-size: 70px;
    }
    p{
        margin-top: 2%;
        color: grey;
    }
}
#start-btn{
     padding: 6px 14px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
  color:black;
  font-weight: bold;
  cursor: pointer;
}
#start-btn:hover{
    background-color: black;
    color: white;
}
#learn-btn{
      padding: 6px 14px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
  color:black;
  font-weight: bold;
  cursor: pointer;
}
#learn-btn:hover{
    background-color: black;
    color: white;
}
.btnss{
    margin-top: 3%;
}
.project-sec{
      padding: 6px 14px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
  color:black;
  font-weight: bold;
  cursor: pointer;  
  width: 10%; 
  margin-top: 13%;
  margin-left: 45%;
  h3{
    display: flex;
    
  }
}
.feature-head{
margin-top: 3%;
gap: 20px;
  /* margin-left: 45%; */
  h1{
    display: flex;
    flex-direction: column;
    margin-left: 39%;
  }
  h2{
margin-left: 45%;
/* margin-bottom: 3%; */
font-size: 28px;
  }
  h3{
    margin-left: 35%;
    color: grey;
    margin-bottom: 3%;
  }
}
.feature-card{
    height: 200px;
    width: 18%;
    background-color: aqua;
    /* margin-left: 10%; */
     background-color: white;
   box-shadow:0 4px 40px rgba(0,0,0,0.05);
      border-radius: 8px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}
.feature-card:hover{
    background-color: black;
    color: white;
    .circle{
        background-color: #85db18;
    }
    .circle  ion-icon{
        color: black;
    }
}
.circle{
        /* padding: 23px 8px; */
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
  border: 2px solid black;
  border-radius: 30px;
  width: 10%;
  /* margin-left: 10%;
  margin-top: 20%; */
  background-color:#f1f5ff;
  box-shadow: 0 0 2px black;
  /* margin-bottom: 3%; */
  position: absolute;
  top: 10px;
  left: 10px;
  ion-icon{
   font-size: 16px;
   
  }
}
/* .circle:hover{
background-color: limegreen;
} */
.feature-content{
/* top: 100px;
left: 20px;
position: absolute; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px;
bottom: 10px;
/* background-color: blue; */
width: 100%;
gap: 12px;
height: 100px;
h4{
    /* margin-bottom: 5%; */
    color: grey;
    font-size: 13px;
}
}
.row-one{
    display: flex;
    gap: 50px;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 30%;
}
@keyframes popup{
    from{
        opacity: 0;
        transform: scale(0.5);

    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
a{
    text-decoration: none;
    color: black;
}
.user-profile{
    display: flex;
    gap: 10px;
    h3{
        font-size: 18px;
        margin-top: 6px;
    }
}
.aboutsection{
    height: 200px;
    
    h3{
        color: #87db18d6;
        font-size: 28px;
        margin-top: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    }
    p{
        margin-top: 4%;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 20px;
        font-style: italic;
        
    }
}
html {
  scroll-behavior: smooth;
}


  
