*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: f8f9ff;
    color: #1a1a1a;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    height: 50px;
}
.logo{
    width: 50px;
    height: 50px;
    padding: 10px,20px;
    display: flex;
    align-items: center;
    /* margin-left: ; */
    img{
        width: 150px;
        height: 70px;
    }
}
.navitems{
    display: flex;
   margin-right: 10%;
   gap: 30px;
   h2{
    font-size: 18px;
   }
}
 #b1{
    padding: 6px 14px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  color:black;
  font-weight: bold;
  cursor: pointer;
    }
    .leftcard{
        background-color: #fff;
        padding: 20px;
        border-radius: 16px;
        box-shadow:0 4px 20px rgba(0,0,0,0.05) ;
        max-width: 400px;
        margin: 20px auto;
        margin-right: 60%;
        h3{
            margin-bottom: 10px;
        }
    }
   .card-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    gap: 10px;
    margin-top: 10px;
    }
    .firstcontent{
        background-color: #f1f5ff;
        padding: 10px;
        border-radius: 8px;
        height: 110px;
    }
    .secondcontent{
        background-color: black;
        color: white;
        border-radius: 8px;
        margin-left: 20%;
        width: 50%;
    }
    .thridcontent{
        background-color:  #f1f5ff;
        color: black;
        border-radius:8px;
        width: 70%;
        margin-left: 30%;
    }
    .fourthcontent{
        background-color:  #f1f5ff;
        color: black;
        border-radius:8px;
        width: 50%;
        margin-left: 20%;
    }
    .fivecontent{
         background-color:  #f1f5ff;
        color: black;
        border-radius:8px;
        width: 70%;
        margin-left: 30%;
    }
   #fastbtn{
       padding:1px 25px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(255, 255, 39);
  color:black;
  font-weight: bold;
  cursor: pointer;
   } 
   .fast-num{
    display: flex;
    gap: 10px;
   }
   .speedo{
    margin-left: 60%;
  margin-top: -95px;
    ion-icon{
        color: rgb(134, 24, 134);
        font-size: 130px;
    }
   }